@use "/src/_variables" as *;

.company-profile__popup {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;

  @include responsive("tiny") {
    width: 285px;
  }

  @include responsive("small") {
    width: 340px;
  }

  @include responsive("medium") {
    width: 740px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 10px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #f8f8f9;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9395b8;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #7b7ea5;
  }
}
