.profile__image-container {
  position: relative;
  left: -20px;
  top: -28px;
  width: calc(100% + 40px);
  height: 140px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to right, #09043e, #29208b);
}

.profile-logo {
  position: absolute;
  left: 20px;
  top: 80px;
  width: 140px;
  height: 140px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 79%;
    top: 79%;
    background-image: url("country-flag.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.rating-box {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 7px;
  border-radius: 11px;
  padding: 7px 14px 7px 10px;
  background-color: #f8f8f9;
  left: 88%;
  right: 50px;
  font-weight: 548;
  font-size: 16px;
  color: #7b7ea5;
  cursor: pointer;

  &:hover {
    background-color: #eef0f7;
  }

  &:active {
    background-color: #cccfda;
  }

  &:disabled {
    color: #cccfda;
    background-color: #f8f8f9;
  }
}

.profile__info-container {
  margin-top: 72px;
}

.profile__title-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-title {
  font-weight: 533;
  font-size: 30px;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.2px;
  margin: 0px;
}

.profile__title-checkmark {
  width: 24px;
  height: 24px;
}

.location-icon {
  margin-left: -1px;
}

.profile__grey-dot {
  width: 3px;
  height: 3px;
  background-color: #cccfda;
}

.profile__avatar-container {
  position: relative;

  img {
    position: relative;
    margin-left: -9px;
    z-index: 1;

    &:nth-child(1) {
      margin-left: 0;
      z-index: 1;
    }

    &:nth-child(2) {
      z-index: 2;
    }

    &:nth-child(3) {
      z-index: 3;
    }
  }
}

.profile__statistics-container {
  p {
    margin: 0px;
  }
}

.profile__statistics-container__section {
  font-size: 14px;
  font-weight: 548;
  letter-spacing: -0.5px;

  p {
    &:nth-child(1) {
      color: #06082c;
    }

    &:nth-child(2) {
      color: #9395b8;
    }
  }
}

.profile__medal-container {
  margin-top: 12px;
}

.profile__medal-container__section {
  width: 54px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.1px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f9;
  cursor: pointer;

  &:hover {
    background-color: #eef0f7;
  }

  &:active {
    background-color: #cccfda;
  }

  &:disabled {
    color: #cccfda;
    background-color: #f8f8f9;
  }

  p {
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #939499;
  }
}

.profile-medal {
  width: 12px;
  height: 12px;
  border-radius: 20px;
}

.medal-gold {
  background: linear-gradient(to left, #be823b, #d0a461, #fed5a5);
}

.medal-silver {
  background: linear-gradient(to left, #878788, #939499, #bfc0c5);
}

.medal-bronze {
  background: linear-gradient(to left, #74391d, #c46236, #ff9b67);
}

.profile__button-container {
  margin-top: 40px;
  margin-bottom: 68px;
}

.profile__tabs-container {
  position: absolute;
  bottom: 0px;
}

.profile__tab-button {
  padding-bottom: 24px;
}
