.checkmark-content {
  width: 215px;
  font-weight: 300;
  font-size: 12px;
}

.rating-box__content {
  width: 260px;
  font-weight: 300;

  p {
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  span {
    font-size: 12px;
  }
}
