@use "/src/_variables" as *;

.tab-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 40px;
  color: #7b7ea5;
  background-color: transparent;
  font-weight: 548;
  font-size: 14px;
  letter-spacing: -0.5px;

  &:hover {
    color: #9395b8;
  }

  &:active {
    color: #353754;
  }

  &:disabled {
    color: #cccfda;
  }

  @include responsive("small") {
    padding: 5px;
  }

  @include responsive("medium") {
    padding: 10px;
  }

  @include responsive("large") {
    padding: 10px;
  }
}

.tab-button__static {
  color: #7b7ea5;

  &:hover {
    color: #9395b8;
  }

  &:active {
    color: #353754;
  }

  &:disabled {
    color: #cccfda;
  }
}

.tab-button__active {
  color: #06082c;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #06082c;
  }

  &:hover {
    color: #7b7ea5;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #7b7ea5;
    }
  }

  &:active {
    color: #03051c;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #03051c;
    }
  }

  &:disabled {
    color: #cccfda;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #cccfda;
    }
  }
}
