.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-small {
  width: 22px;
  height: 22px;
  border-radius: 20px;
}

.avatar-medium {
  width: 28px;
  height: 28px;
  border-radius: 22px;
}

.avatar-big {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.avatar-xl {
  width: 50px;
  height: 50px;
  border-radius: 30.12px;
}

.avatar-outlined {
  border: 1px solid #ffffff;
}

.avatar__medal-gold {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: linear-gradient(to left, #be823b, #d0a461, #fed5a5);
    top: 26px;
    left: 29px;
  }
}

.avatar__medal-silver {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: linear-gradient(to left, #878788, #939499, #bfc0c5);
    top: 26px;
    left: 29px;
  }
}

.avatar__medal-bronze {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: linear-gradient(to left, #74391d, #c46236, #ff9b67);
    top: 26px;
    left: 29px;
  }
}

.avatar__badge-flag {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-image: url("../../../assets/RU.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 18px;
    left: 18px;
  }
}
