@use "/src/_variables" as *;

.canvas {
  object-fit: cover;

  @include responsive("tiny") {
    width: 282px;
    height: 160px;
  }

  @include responsive("small") {
    width: 323px;
    height: 186px;
  }
}

.graph-container {
  margin-bottom: 20px;
}

.rating-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 12px;
  margin-top: -20px;
  background-color: #f8f8f9;

  p {
    text-align: left;
    margin-top: 0;
    color: #06082c;
    font-weight: 548;
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  span {
    text-align: left;
    color: #7b7ea5;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
}
