.grid-container {
  height: 430px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 8px;
}

.grid-item {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  cursor: pointer;

  &:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  &:last-child {
    grid-column: 4/6;
    grid-row: 2/4;
  }
}
