.sportsmen__gender-button {
  width: 157.5px;
}

.sportsmen__next-weight__button {
  display: flex;
  align-items: center;
  min-height: 34px;
  padding: 8px 15px;
  border-radius: 8px;
  color: #7b7ea5;
  background-color: #f8f8f9;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.1px;

  &:active {
    color: #ffffff;
    background-color: #06082c;
  }
}

.sportsmen-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  gap: 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #9395b8;
}

.sportsmen-list__header {
  padding-left: 8px;
  padding-right: 8px;
}

.sportsmen-content {
  width: 160px;
}

.sportsmen-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
