@use "/src/_variables" as *;

.header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 64px;
  top: 0;
  background-color: #ffffff;
  margin-bottom: 20px;
  z-index: 70;
  box-sizing: border-box;

  @include responsive("tiny") {
    flex-direction: column;
  }

  @include responsive("large") {
    flex-direction: row;
  }
}

.header-container {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;

  ul {
    padding-inline-start: 0px;
  }

  @include responsive("tiny") {
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    min-height: 52px;
  }

  @include responsive("small") {
    max-width: 350px;
  }

  @include responsive("medium") {
    max-width: 768px;
    height: 128px;
  }

  @include responsive("large") {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1160px;
    height: 100%;
  }
}

.logo-box {
  position: relative;
  padding: 8px 8px 8px 11.5px;
  height: fit-content;

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d21010;
    left: 6px;
    top: 9px;
  }
}

.nav-list {
  display: flex;
  gap: 16px;
}

.nav-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  font-weight: 548;
  font-size: 14px;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.nav-list__item-static {
  color: #9395b8;
}

.nav-list__item-active {
  color: #06082c;
}

.header__language-dropdown {
  width: 100px;
  left: -20px;
  top: 50px;
  border-radius: 10px;

  li {
    &:hover {
      background-color: #eef0f7;
    }
  }
}

.header__language-dropdown__root {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 72px;
  font-weight: 548;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.header__language-dropdown__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  box-sizing: border-box;
  font-weight: 548;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.header-bell {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d21010;
    left: 18px;
    top: 1px;
  }
}

.header-user {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: black;
  cursor: pointer;
}

.header__user-dropdown {
  width: 280px;
  left: -210px;
  top: 50px;
  border-radius: 18px;
  padding: 8px 12px 0px 12px;
}

.header__user-dropdown__item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 50px;
  padding: 0px 0px;
  box-sizing: border-box;
  color: #9395b8;

  &:hover {
    color: #353754;
  }
}

.dropdown-item__simple {
  color: #9395b8;
}

.dropdown-ite__active {
  color: #353754;
}

.header__tablet-layer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__mobile-layer {
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  max-height: 70vh;
  z-index: 60;
  overflow: scroll;
}

.header__mobile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #eef0f7;

  @include responsive("tiny") {
    width: 300px;
  }

  @include responsive("small") {
    width: 350px;
  }
}

.header__cross-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.header__cross-line {
  transition: transform 0.3s ease-in-out;
}


