.carousel {
  width: 100%;
}

.swiper {
  height: 320px !important;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background-color: #353754;
}

.swiper-slide {
  width: 280px;
  background-color: #ffffff;
  border-radius: 16px;
}
