.carousel {
  width: 100%;
  height: 346px;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  background-color: #353754;
}

.swiper-slide {
  width: 100%;
  height: 320px;
  background-color: #ffffff;
  border-radius: 16px;
}
