.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6.2px);
}

.popup-content {
  background-color: white;
  padding: 32px 24px 40px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  max-width: 766px;
  max-height: 80%;
  z-index: 1000;
}

.popup-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: #f8f8f9;
  box-sizing: border-box;

  p {
    color: #9395b8;
    font-weight: 548;
    font-size: 14px;
  }

  span {
    color: #06082c;
    font-weight: 600;
    font-size: 14px;
  }
}

.popup__block-big {
  width: 95.5%;
}

.popup__block-small {
  width: 47%;
}
