.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter";
}

.content-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65.95%;
}

.content-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 31.98%;
}

.page-section {
  position: relative;
  width: 100%;
  border-radius: 20px;
  padding: 28px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  color: #06082c;
  letter-spacing: -0.7px;
  margin: 0;
}
