@use "/src/_variables" as *;

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter";

  @include responsive("medium") {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include responsive("large") {
    flex-direction: row;
    align-items: flex-start;
  }
}

.content-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 765px;
}

.content-aside {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include responsive("medium") {
    width: 765px;
  }

  @include responsive("large") {
    width: 370.96px;
  }
}

.page-section {
  position: relative;
  width: 100%;
  border-radius: 20px;
  padding: 28px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.page__inner-section {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  color: #06082c;
  letter-spacing: -0.7px;
  margin: 0;
}
